<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text box</title>
</head>
<body>

<h1>
    Welcome to text analyzer.Enter your text
</h1>
<form action="analyze" method="get">
   <textarea name="text" style="margin: 0px; width: 1055px; height: 220px;"></textarea><br>
    <input type="checkbox" name="removepuc">Remove Punctuations<br>
    <input type="checkbox" name="fullcap">Upper case<br>
    <input type="checkbox" name="count">Count No of character<br>
    <input type="checkbox" name="spaceremover">spaceremover<br>
    <input type="checkbox" name="newlineremove">newlineremove<br>

    <button type="submit">Anaylse></button>

</form>
</body>
</html>